<div class="container">

<div class="row">
  <div class="col-sm-12">
    <center>
    <img src="images/admin2.jpg" alt="" height="200" width="700"/>
    </center>

  </div>
</div>
  <div class="row">
    <br><br>
<div class="col-sm-4">

    <button type="button" class="btn btn-sq-lg btn-danger" ng-click="addMovie()">
   <img src="images/addmovie.png" alt="" /><br><p algin="left"><br>
       Add Movie <br> &  <br>Remove Movie <br><br>
   </p>       
              
</button>
</div>

<div class="col-sm-4">
<!--style="background-color:#af3513;border-color:#af3513"-->
<button type="button" class="btn btn-sq-lg btn-warning" ng-click="addTheater()">
  <img src="images/th.jpg" height="170" width="200" alt="" /><br><br>
               Add Theater              
<br/>&<br/>Remove Theater<br/><br/><br>
</button>

</div>
<div class="col-sm-4">

<button type="button" class="btn btn-sq-lg btn-info" ng-click="mapThaterMovie()">
<img src="images/map.jpg" height="170" width="200"  alt="" /><br><br>
Map Movie With Theater <br/> & <br/> Remove Movie From Theater<br/><br/> <br></button>
</div>


  </div>
</div>
